//backgrounds
$primary-background: #37515C;
$secondary-background: #EBF5EE;
//borders
$small-border: 1px solid #000;
$medium-border: 2px solid #000;
$large-border: 3px solid #000;
//size
$full-width: 100%;
