//backgrounds
$primary-background: #37515C;
$secondary-background: #EBF5EE;
//borders
$small-border: 1px solid #000;
$medium-border: 2px solid #000;
$large-border: 3px solid #000;
//size
$full-width: 100%;


//******************  START OF CONTAINERS ****************************
html {
  background-color: $primary-background;
  border: $medium-border;
  height: 100vh;

  body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
  }

  main {
    background-color: $primary-background;
    height: 100%;
    width: $full-width;

    .all-cards {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr);
      padding: 30px 0 30px 30px;
      width: 95.5vw;
    }
  }
}
//******************  END OF CONTAINERS ****************************


//******************  START OF HEADER ****************************
.main-header {
  background-color: $secondary-background;
  border: $medium-border;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: $full-width;
  //Nest header child styles here
  h1 {
    border-right: $medium-border;
    font-size: 255%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;
    width: 30%;
  }

  .search-bar {
    display: flex;
    height: 100%;
    margin: 10px 0;
    width: 30%;
  }

  .navButton {
    background-color: $secondary-background;
    border-left: $small-border;
    border-right: $small-border;
    font-size: 130%;
    margin: 1%;
  }

  .search-button {
    background-color: $secondary-background;
    border: $small-border;
    width: 20%;
    height: 58px;
    margin-top: 3px;
  }

  .search-input {
    border: $small-border;
    font-size: 100%;
    height: 7vh;
    margin: 3px 7px 0 0;
    padding-left: 10px;
    width: 90%;
  }
}
//******************  END OF HEADER ****************************




//******************  START OF CARD STYLES ****************************

.card {
  background-color: #D7F2FE;
  border: $large-border;
  width: $full-width;
  //*********** START OF HEADER***************
  .card-header {
    background-color: $secondary-background;
    border-bottom: $small-border;
    display: flex;
    justify-content: space-between;

    .card-button {
      border: $small-border;
      height: 27px;
      margin: 3px;
    }

    .add-button {
      background-color: $secondary-background;
      display: flex;
      width: 12%;

      .add {
        width: $full-width;
      }
    }

    .favorite {
      background-color: $secondary-background;
      background-image: url("https://image.flaticon.com/icons/svg/149/149222.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 13%;
    }

    .favorite-active {
      background-image: url("https://image.flaticon.com/icons/svg/148/148841.svg");
      background-repeat: no-repeat;
    }
  }
  //*********** END OF HEADER ***************
  .recipe-name {
    display: block;
    font-size: 150%;
    text-align: center;
  }

  .card-picture {
    border: $medium-border;
    height: 200px;
    margin: 10px 3% 8px 2.6%;
    width: 80%;
  }

  .card-picture:hover {
    opacity: 0.7;
  }

  .card-picture:active {
    border: $medium-border;
  }
}
//******************  END OF CARD STYLES ****************************


//******************  START OF INTERACTIONS ****************************

.card-button:hover,
.navButton:hover,
.search-button:hover,
.search-image:hover {
  background-color: #cff2da;
}

.card-button:active,
.navButton:active,
.search-button:active,
.search-image:active {
  background-color: #C3C2C6;
}

.hidden {
  display: none;
}

img {
  cursor: pointer;
}

.all {
  grid-gap: 0;
  grid-template-columns: repeat(1, 1fr);
}
//******************  END OF INTERACTIONS ****************************


//******************  START OF RECIPES ****************************
.all-recipe-info,
ol {
  color: $secondary-background;
  font-size: 220%;
  width: $full-width;
}

h3 {
  color: $secondary-background;
  font-size: 250%;
}
//******************  END OF RECIPES ****************************
